body{
   
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    margin: 0px;
    max-width: 770px;
    flex-wrap: wrap;
     min-height: 900px;
    background: #fff;
    display: flex;
    grid-template-columns: 1fr 2fr;
    

}
.left-column{
    position: relative;
    
    background: #353535;;
   padding: 0px;
    color: white;
  
    max-width: 257px;

}
.right-column{
    position: relative;
    background: white;
    padding: 0px;
    

}
/*.imgbx{ }*/
img{
    width: 218px; 
    height: 230px;
    padding: 15px;
   }
    
.t1{
    color: black;
    text-transform: uppercase;
    
    
    background-color: white;
    border-radius: 0px 20px 20px 0px;
    margin: 0px;
    padding: 6px;
    width: 75%;
   
}
.t2{
text-transform: uppercase;
background-color: #353535;
border-radius: 0px 20px 20px 0px;

color: white;


width: 80%;
padding: 6px;
padding-left: 25px;
}
p,h3{
    padding: 5px;

}
h1{
    
    padding: 5px;
}
.info{
    padding: 20px
}
.titre, .para{
    padding-left: 18px;
}
ul{
    line-height: 40px;
}

@media screen and (max-width:770px) {
    .container{
        display: flex;
        flex-wrap: wrap; 
    }
  
    
}